@model MonografiasIfma.Models.Monografia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monografia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataApresentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataApresentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pdf_ArquivoBinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pdf_ArquivoBinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientador.Campus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
